body {
    background-color: black;
}
.title{
    font-family: "bombarda", serif;
    font-weight: 900;
    font-style: normal;
    color: orange;
    }
    .review, .fun-f {
        font-family: "mr-eaves-xl-sans", sans-serif;

font-style: italic;
font-weight:10; 
color: orangered;
font-size:200%;
    }
    .nav-link{
        font-family: "bombarda", serif;
        font-weight: 900;
        font-style: normal;
        color: orange;
        
        }

        a:hover {
            background-color: white;
          }

          .open3{
            max-height: 800px;
          }
